@keyframes slide {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 53;
    background-color: black;
  }

  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 53;
  }

  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 53;
    background-color: black;
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 53;
    background-color: black;
  }
}

@keyframes closeEye {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes incandesce {
  0% {
    background-color: rgb(238, 81, 34);
  }
  25% {
    background-color: rgb(238, 81, 34);
  }
  28% {
    background-color: rgb(251, 167, 32);
  }
  48% {
    background-color: rgb(251, 167, 32);
  }
  78% {
    background-color: rgb(238, 81, 34);
  }
  100% {
    background-color: rgb(238, 81, 34);
  }
}
