// slide tooth
@keyframes slide {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 53;
    background-color: black;
  }

  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 53;
  }

  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 53;
    background-color: black;
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 53;
    background-color: black;
  }
}

// close eyes
@keyframes closeEye {
  0% {
    top: 0px;
    left: 2.4px;
    height: 0px;
  }
  30% {
    top: 0px;
    height: 0px;
  }
  40% {
    top: 1px;
    height: 7px;
  }
  65% {
    top: 1px;
    height: 7px;
  }
  75% {
    top: 1px;
    height: 0px;
  }
  90% {
    top: -1px;
    height: 0px;
  }
  100% {
    top: -1px;
    height: 0px;
  }
}

// cigar incandesce
@keyframes incandesce {
  0% {
    background-color: rgb(238, 81, 34);
  }
  25% {
    background-color: rgb(238, 81, 34);
  }

  28% {
    background-color: rgb(251, 201, 119);
  }
  48% {
    background-color: rgb(251, 201, 119);
  }
  78% {
    background-color: rgb(238, 81, 34);
  }
  100% {
    background-color: rgb(238, 81, 34);
  }
}

// move eyes
@keyframes moveEyes {
  0% {
    left: 6px;
  }

  25% {
    left: 6px;
  }
  30% {
    left: 10px;
  }

  55% {
    left: 10px;
  }
  60% {
    left: 6px;
  }
  80% {
    left: 6px;
  }
  90% {
    left: 6px;
  }
  100% {
    left: 6px;
  }
}

// move arm with cigar
@keyframes moveArm {
  0% {
    top: -3px;
    left: 13px;
    transform: rotate(0deg);
  }

  22% {
    top: -3px;
    left: 13px;
    transform: rotate(0deg);
  }
  30% {
    top: -11px;
    left: 7.75px;
    transform: rotate(-3deg);
  }
  70% {
    top: -11px;
    left: 7.75px;
    transform: rotate(-3deg);
  }
  80% {
    top: -3px;
    left: 13px;
    transform: rotate(0deg);
  }
  100% {
    top: -3px;
    left: 13px;
    transform: rotate(0deg);
  }
}

// smoke animation
@keyframes animeSmoke {
  40% {
    filter: blur(16px);
    opacity: 0.5;
  }

  95% {
    filter: blur(16px);
    opacity: 0.5;
  }

  100% {
    transform: translate(30px, -80px);
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes animeSmoke2 {
  50% {
    filter: blur(16px);
    opacity: 0.5;
  }
  90% {
    filter: blur(16px);
    opacity: 0.25;
  }
  100% {
    transform: translate(0, -90px);
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes animeSmoke3 {
  50% {
    filter: blur(16px);
    opacity: 0.5;
  }
  90% {
    filter: blur(16px);
    opacity: 0.25;
  }

  100% {
    transform: translate(20px, -70px);
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes animeSmoke4 {
  50% {
    filter: blur(16px);
    opacity: 0.5;
  }
  90% {
    filter: blur(16px);
    opacity: 0.25;
  }

  100% {
    transform: translate(-10px, -95px);
    filter: blur(20px);
    opacity: 0;
  }
}
