// slide tooth
@keyframes slide {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 53;
    background-color: black;
  }

  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 53;
  }

  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 53;
    background-color: black;
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 53;
    background-color: black;
  }
}

// close eyes
@keyframes closeEye {
  0% {
    top: 0px;
    left: 2px;
    height: 0px;
  }
  30% {
    top: 0px;
    height: 0px;
  }
  40% {
    top: 1px;
    height: 7px;
  }
  65% {
    top: 1px;
    height: 7px;
  }
  75% {
    top: 1px;
    height: 0px;
  }
  90% {
    top: -1px;
    height: 0px;
  }
  100% {
    top: -1px;
    height: 0px;
  }
}

// cigar incandesce
@keyframes incandesce {
  0% {
    background-color: rgb(238, 81, 34);
  }
  25% {
    background-color: rgb(238, 81, 34);
  }

  28% {
    background-color: rgb(251, 167, 32);
  }
  48% {
    background-color: rgb(251, 167, 32);
  }
  78% {
    background-color: rgb(238, 81, 34);
  }
  100% {
    background-color: rgb(238, 81, 34);
  }
}


// move arm with cigar
@keyframes moveArm {
    0% {
        top: -3px;
        left: 13px;
        transform: rotate(0deg);
    }
    
    22% {
        top: -3px;
        left: 13px;
        transform: rotate(0deg);
    }
    30% {
        top: -11px;
        left: 6px;
        transform: rotate(-3deg);
    }
    70% {
        top: -11px;
        left: 6px;
        transform: rotate(-3deg);
    }
    80% {
        top: -3px;
        left: 13px;
         transform: rotate(0deg);
    }
    100% {
        top: -3px;
        left: 13px;
         transform: rotate(0deg);
    }
  }