// fonts
$font-main: "fr-title", sans-serif;

// colors
$black: #000;
$darkGrey: #b3b3b3;
$grey: #cccccc;
$lightGrey: #e6e6e6;
$lightYellow: #fef9b7;
$brown: #542200;
$red: #d40000;

$blue: rgb(72, 124, 173);
$bkColor: $blue;

$borderColor: $black;
$bodyColor: $darkGrey;
$neckColor: $lightGrey;
$handsAndFeetColor: $lightGrey;
$shoulderColor: $lightGrey;
$eyesOuterContainerColor: $grey;
$eyesInnerContainerColor: $black;
$eyesColor: $lightYellow;
$pupilColor:  $black;
$mouthColor: $lightYellow;