.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__leftBorderNeck {
    position: relative;
    z-index: 51;
    top: -41.7px;
    left: -29px;
    width: 4px;
    height: 30px;
    transform: rotate(45deg);
    background-color: $neckColor;
    border-left: 0.75px solid $borderColor;
    border-radius: 50% 0 50% 50%;
  }
  &__neck {
    position: relative;
    top: -67.5px;
    z-index: 49;
    width: 100px;
    height: 24px;
    background-color: $neckColor;
    clip-path: polygon(6% 100%, 33% 0%, 70% 0%, 95% 100%);
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border: 0.75px solid $borderColor;
    transform: rotate(-2deg);
  }
  &__rightBorderNeck {
    position: relative;
    z-index: 51;
    top: -98px;
    left: 29.5px;
    width: 4px;
    height: 30px;
    transform: rotate(-49deg);
    background-color: $neckColor;
    border-right: 0.75px solid $borderColor;
    border-radius: 0 50% 50% 50%;
  }

  &__mainBodyBorder {
    position: relative;
    z-index: 40;
    top: -101.5px;
    left: -1.65px;
    width: 92px;
    height: 81px;
    background-color: black;
    transform: rotate(-2deg);
    clip-path: polygon(25% 100%, 9.8% 0%, 98.2% 0%, 90% 100%);
  }

  &__mainBody {
    position: relative;
    z-index: 48;
    top: -182px;
    left: -1.4px;
    width: 90.5px;
    height: 80px;
    background-color: $grey;
    transform: rotate(-2deg);
    clip-path: polygon(25% 100%, 9.5% 0%, 98.2% 0%, 90% 100%);

    &--doorShape {
      position: relative;
      top: 10px;
      left: 39px;
      width: 57px;
      height: 5px;
      border-bottom: 0.75px solid $borderColor;
      border-radius: 50%;
      transform: rotate(-3deg);
    }

    &--door {
      position: relative;
      top: 8.5px;
      left: 40px;
      width: 50px;
      height: 60px;
      transform: rotate(-2deg);
      border: 0.75px solid $borderColor;
      border-top: transparent;
      border-bottom-right-radius: 30%;
      border-bottom-left-radius: 3px;
      &--knob {
        position: relative;
        top: 30px;
        left: 35px;
        width: 7px;
        height: 7px;
        transform: rotate(-2deg);
        border: 0.75px solid $borderColor;
        border-radius: 50%;
      }
    }
  }

  &__mainBodyBottom {
    position: relative;
    z-index: 51;
    top: -187px;
    left: 6.81px;
    width: 58.8px;
    height: 10px;
    transform: rotate(-2deg);
    background-color: $grey;
    border-bottom: 0.75px solid $borderColor;
    border-radius: 50%;
  }

  &__armsContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -267px;
    width: 110px;
    height: 120px;
    .piece1,
    .piece2,
    .piece3,
    .piece4,
    .piece5,
    .piece6 {
      position: relative;
      background-color: $bodyColor;
      width: 16px;
      height: 15px;
      border: 0.75px solid $borderColor;
    }
    &--leftArm {
      position: relative;
      top: -1.5px;
      .shoulder {
        position: relative;
        z-index: 100;
        top: 3px;
        left: 11px;
        width: 22px;
        height: 25px;
        background-color: $shoulderColor;
        border-radius: 31px 28px 35px 34px;
        border: 0.75px solid $borderColor;
        transform: rotate(-15deg);
      }
      .piece1 {
        z-index: 101;
        top: -14px;
        left: 11px;
        transform: rotate(41deg);
        border-radius: 6px 4px 0px 0px;
      }
      .piece2 {
        z-index: 101;
        top: -22px;
        left: 3.7px;
        height: 18px;
        transform: rotate(41deg);
        border-radius: 20px 20px 0px 0px/ 15px 15px 0px 0px;
      }
      .piece3 {
        z-index: 101;
        top: -29.5px;
        left: -5.5px;
        height: 18px;
        transform: rotate(40deg);
        border-radius: 20px 20px 10px 12px/ 15px 15px 10px 40px;
      }
      .piece4 {
        z-index: 101;
        top: -37px;
        left: -11.4px;
        height: 16.5px;
        width: 17px;
        border-radius: 5px 26px 15px 30px/ 30px 25px 20px 20px;
        transform: rotate(30deg);
      }
      .piece5 {
        z-index: 100;
        top: -47px;
        left: 0px;
        height: 18px;
        width: 13px;
        transform: rotate(-60deg);
        border-radius: 0px 3px 30px 30px/ 0px 3px 10px 10px;
      }
      .piece6 {
        z-index: 99;
        top: -56.7px;
        left: 12px;
        height: 15px;
        width: 13px;
        transform: rotate(-60deg);
        border-radius: 0px 3px 30px 30px/ 0px 3px 10px 10px;
      }
      .hand {
        position: relative;
        top: 100px;
        left: 20px;

        &__handTop {
          position: relative;
          z-index: 106;
          top: -160.5px;
          left: 5px;
          height: 7px;
          width: 19px;
          transform: rotate(110deg);
          background-color: $handsAndFeetColor;
          border-top: 0.75px solid $borderColor;
          border-radius: 50%;
        }
        &__handBottom {
          position: relative;
          z-index: 98;
          top: -172px;
          left: -1px;
          height: 12px;
          width: 19px;
          background-color: $handsAndFeetColor;
          border: 0.75px solid $borderColor;
          transform: rotate(-68deg);
          clip-path: polygon(9% 100%, 25% 0%, 76% 0%, 95% 80%);
        }
        &__handBorderLeft {
          position: relative;
          z-index: 99;
          top: -177.6px;
          left: 5px;
          height: 13.2px;
          width: 3px;
          background-color: $handsAndFeetColor;
          border-right: 0.75px solid $borderColor;
          transform: rotate(-235deg);
          border-radius: 10px 30px 30px 30px/ 0px 80px 80px 10px;
        }
        &__handBorderBottom {
          position: relative;
          z-index: 90;
          top: -199px;
          left: 6.4px;
          width: 11.5px;
          height: 2px;
          transform: rotate(0deg);
          background-color: $handsAndFeetColor;
          border-top: 0.75px solid $borderColor;
          border-radius: 50%;
        }
        &__finger1-part1 {
          position: relative;
          z-index: 100;
          top: -191.6px;
          left: 16px;
          width: 7px;
          height: 5.5px;
          transform: rotate(-71deg);
          background-color: $handsAndFeetColor;
          border: 0.75px solid $borderColor;
          border-bottom: transparent;
          border-radius: 10px 40px 15px 40px / 20px 0px 35px 30px;
        }
        &__finger1-part2 {
          position: relative;
          z-index: 105;
          top: -192.8px;
          left: 15.4px;
          width: 12.6px;
          height: 6px;
          transform: rotate(-60deg);
          background-color: $handsAndFeetColor;
          border: 0.75px solid $borderColor;
          border-radius: 45px 0px 25px 40px / 45px 0px 35px 30px;
        }
        &__finger1-part3 {
          position: relative;
          z-index: 105;
          top: -204.8px;
          left: 16.2px;
          width: 5.8px;
          height: 7.3px;
          transform: rotate(-61deg);
          background-color: $handsAndFeetColor;
          border-right: 0.5px solid ;
        }

        &__finger2 {
          position: relative;
          z-index: 98;
          top: -203.9px;
          left: 9.8px;
          width: 12.2px;
          height: 6px;
          transform: rotate(-53deg);
          background-color: $handsAndFeetColor;
          border: 0.75px solid $borderColor;
          border-radius: 25px 30px 0px 15px / 25px 0px 40px 15px;
        }
        &__finger3 {
          position: relative;
          z-index: 88;
          top: -209.8px;
          left: 6.8px;
          width: 7px;
          height: 6px;
          transform: rotate(-50deg);
          background-color: $handsAndFeetColor;
          border: 0.75px solid $borderColor;
          border-radius: 25px 30px 0px 35px / 25px 20px 0px 25px;
        }
      }
    }

    &--rightArm {
      position: relative;
      // z-index: 999;
      top: -3px;
      left: 10px;
      animation: moveArm 8.5s linear infinite;
      .shoulder {
        position: relative;
        z-index: 10;
        left: -2px;
        width: 6.5px;
        height: 25px;
        background-color: $shoulderColor;
        border-radius: 5px 14px 23px 3px/ 2px 23px 40px 1px;
        border: 0.75px solid $borderColor;
        transform: rotate(5deg);
      }

      .piece1 {
        z-index: 9;
        top: -16.7px;
        left: -1px;
        width: 14.3px;
        transform: rotate(-73deg);
        border-radius: 20px 20px 8px 8px/ 15px 15px 50px 35px;
      }

      .piece2 {
        z-index: 101;
        top: -31.1px;
        left: 9px;
        transform: rotate(-80deg);
        border-radius: 20px 20px 18px 8px/ 15px 15px 50px 35px;
        height: 18px;
        width: 13.8px;
      }

      .piece3 {
        z-index: 101;
        top: -48px;
        left: 18px;
        transform: rotate(-85deg);
        border-radius: 20px 20px 8px 35px/ 15px 15px 30px 45px;
        height: 18px;
        width: 14px;
      }

      .piece4 {
        z-index: 101;
        top: -79px;
        left: 18.5px;
        height: 20px;
        width: 15px;
        transform: rotate(-191deg);
        border-radius: 10px 55px 38px 10px/ 30px 45px 30px 80px;
      }

      .piece5 {
        z-index: 101;
        top: -108px;
        left: 15.1px;
        width: 14.6px;
        transform: rotate(-20deg);
        border-radius: 0px 15px 30px 30px/ 0px 60px 10px 10px;
      }

      .piece6 {
        z-index: 101;
        top: -133px;
        left: 10.1px;
        height: 14px;
        width: 13px;
        transform: rotate(-30deg);
        border-radius: 0px 27px 0px 30px/ 0px 80px 0px 10px;
      }
      .handTop {
        position: relative;
        z-index: 101;
        top: -158.5px;
        left: -4px;
        height: 7px;
        width: 19px;
        transform: rotate(-205deg);
        background-color: $handsAndFeetColor;
        border: 0.75px solid $borderColor;
        border-radius: 50%;
      }
      .handBottom {
        position: relative;
        z-index: 98;
        top: -162.8px;
        left: 0px;
        height: 12px;
        width: 19px;
        background-color: $handsAndFeetColor;
        border: 0.75px solid $borderColor;
        transform: rotate(-205deg);
        clip-path: polygon(9% 100%, 25% 0%, 76% 0%, 95% 80%);
      }

      .handBorderLeft {
        position: relative;
        z-index: 99;
        top: -172.4px;
        left: 1.5px;
        height: 13.2px;
        width: 3px;
        background-color: $handsAndFeetColor;
        border-right: 0.75px solid $borderColor;
        transform: rotate(-235deg);
        border-radius: 10px 30px 30px 30px/ 0px 80px 80px 10px;
      }
      .handBorderBottom {
        position: relative;
        z-index: 102;
        top: -178.9px;
        left: 6.5px;
        width: 10.2px;
        height: 3px;
        transform: rotate(-205deg);
        background-color: $handsAndFeetColor;
        border-top: 0.75px solid $borderColor;
        border-radius: 50%;
      }
      .finger1-part1 {
        position: relative;
        z-index: 102;
        top: -190.9px;
        left: -4.2px;
        width: 5px;
        height: 6px;
        transform: rotate(-15deg);
        background-color: $handsAndFeetColor;
        border: 0.75px solid $borderColor;
        border-radius: 25px 30px 0px 35px / 25px 20px 0px 25px;
      }
      .finger1-part2 {
        position: relative;
        z-index: 105;
        top: -199.9px;
        left: -2px;
        width: 10.2px;
        height: 6px;
        transform: rotate(-45deg);
        background-color: $handsAndFeetColor;
        border: 0.75px solid $borderColor;
        border-radius: 45px 40px 40px 25px / 45px 30px 30px 5px;
      }
      .finger2 {
        position: relative;
        z-index: 106;
        top: -214.9px;
        left: -5px;
        width: 10.2px;
        height: 6px;
        transform: rotate(-190deg);
        background-color: $handsAndFeetColor;
        border: 0.75px solid $borderColor;
        border-radius: 25px 30px 30px 15px / 25px 0px 40px 15px;
      }
      .finger3 {
        position: relative;
        z-index: 102;
        top: -213.9px;
        left: 6.5px;
        width: 5px;
        height: 5px;
        transform: rotate(-205deg);
        background-color: $handsAndFeetColor;
        border: 0.75px solid $borderColor;
        border-radius: 25px 30px 30px 15px / 25px 20px 40px 15px;
      }
      .cigar {
        position: relative;
        z-index: 103;
        top: -224px;
        left: -9px;
        width: 28px;
        height: 8px;
        transform: rotate(-25deg);
        background-color: rgb(124, 88, 65);
        border: 0.75px solid $borderColor;
        border-radius: 20px 5px 5px 20px / 10px 5px 5px 10px;
        &__red {
          position: relative;
          z-index: 999;
          top: -0.8px;
          left: 23px;
          width: 5px;
          height: 8px;
          background-color: rgb(238, 81, 34);
          border-radius: 50%;
          border: 0.75px solid $borderColor;
          animation: incandesce 8.5s linear infinite;
          animation-delay: 0.6s;
        }
        &__grey {
          position: relative;
          z-index: 105;
          top: -9px;
          left: 21px;
          width: 5px;
          height: 8.5px;
          background-color: rgb(110, 108, 108);
          border-radius: 50%;
          border: 0.75px solid $borderColor;
        }
        &__detail {
          position: relative;
          z-index: 104;
          top: -17px;
          left: 1px;
          width: 8px;
          height: 4px;
          transform: rotate(-195deg);
          background-color: rgb(94, 109, 94);
          border: 0.75px solid $borderColor;
          border-radius: 25px 30px 30px 15px / 25px 20px 20px 5px;
        }
      }
    }
  }

  &__legsContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 47;
    left: 5px;
    top: -308px;
    width: 55px;
    height: 120px;

    .piece1,
    .piece2,
    .piece3,
    .piece4,
    .piece5,
    .piece6 {
      position: relative;
      width: 16px;
      height: 15px;
      background-color: $bodyColor;
      border: 0.75px solid $borderColor;
    }

    &--leftLeg {
      position: relative;
      z-index: 0;
      top: -6px;
      left: 4.5px;
      .piece1 {
        transform: rotate(-19deg);
        height: 17px;
        width: 15.45px;


        top: -0.1px;
        left: 0.15px;
      }
      .piece2 {
        z-index: 0;
        top: -5px;
        left: 3.8px;
        width: 15.25px;
        border-radius: 15px 15px 0px 0px/ 5px 5px 0px 0px;
        transform: rotate(-18deg);
      }
      .piece3 {
        z-index: 1;
        top: -8px;
        left: 8.3px;
        width: 15.2px;
        height: 20px;
        border-radius: 15px 15px 5.5px 0px/ 5px 5px 30px 0px;
        transform: rotate(-15deg);
      }
      .piece4 {
        z-index: 2;
        top: -13px;
        left: 10px;
        height: 20px;
        width: 14.2px;
        transform: rotate(-2deg);
        border-radius: 15px 15px 5px 0px/ 5px 5px 40px 0px;
      }
      .piece5 {
        z-index: 3;
        top: -16.5px;
        left: 9px;
        width: 13px;
        height: 17px;
        transform: rotate(10deg);
        border-radius: 15px 15px 2px 0px/ 5px 5px 30px 0px;
      }
      .piece6 {
        z-index: 3;
        top: -21px;
        left: 6.4px;
        width: 12.65px;
        transform: rotate(15deg);
        border-radius: 30px 30px 30px 30px/ 15px 15px 15px 15px;
      }
    }
    &--rightLeg {
      position: relative;
      z-index: 0;
      top: -9.5px;

      .piece1 {
        transform: rotate(-19deg);
        height: 17px;
        width: 15.45px;

        top: -0.1px;
        left: 0.1px;
      }
      .piece2 {
        z-index: 0;
        top: -5px;
        left: 3.8px;
        width: 15.25px;
        border-radius: 15px 15px 0px 0px/ 5px 5px 0px 0px;
        transform: rotate(-18deg);
      }
      .piece3 {
        z-index: 1;
        top: -8px;
        // left: 8.3px;

        left: 8.15px;
        width: 15.2px;
        height: 20px;
        border-radius: 15px 15px 5.5px 0px/ 5px 5px 30px 0px;
        transform: rotate(-15deg);
      }
      .piece4 {
        z-index: 2;
        top: -13px;
        left: 10px;
        height: 20px;
        width: 14.2px;
        transform: rotate(-2deg);
        border-radius: 15px 15px 5px 0px/ 5px 5px 40px 0px;
      }
      .piece5 {
        z-index: 3;
        top: -16.5px;
        left: 9px;
        width: 13px;
        height: 17px;
        transform: rotate(10deg);
        border-radius: 15px 15px 2px 0px/ 5px 5px 30px 0px;
      }
      .piece6 {
        z-index: 3;
        top: -21px;
        left: 6.4px;
        width: 12.65px;
        transform: rotate(15deg);
        border-radius: 30px 30px 30px 30px/ 15px 15px 15px 15px;
      }
    }
  }

  &__feetContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    top: -360px;
    left: 15px;
    width: 85px;
    height: 25px;

    &--leftFoot {
      position: relative;
      top: 3.5px;
      left: 1px;
      width: 35px;
      height: 18px;
      background-color: $handsAndFeetColor;
      border-radius: 40px 40px 35px 50px / 35px 35px 10px 10px;
      border: 0.75px solid $borderColor;
      transform: rotate(6deg);
    }
    &--rightFoot {
      position: relative;
      top: 0px;
      left: -12px;
      width: 35px;
      height: 18px;
      background-color: $handsAndFeetColor;
      border-radius: 40px 40px 35px 50px / 35px 35px 10px 10px;
      border: 0.75px solid $borderColor;
      transform: rotate(2deg);
    }
  }
}
