.smokeContainer {
  position: relative;
  top: -608px;
  left: 60px;
  @media (min-width: 1024px) {
    top: -858px;
    left: 111px;
  }
}

.smoke,
.smoke-2,
.smoke-3,
.smoke-4,
.smoke-5 {
  position: relative;
  width: 5px;
  height: 6px;
  border-radius: 50%;
  background: rgb(211, 210, 210);
  animation: animeSmoke 8.5s linear infinite;
  z-index: 999;
}

.smoke-2 {
  animation: animeSmoke2 8.5s linear infinite;
}

.smoke-3 {
  animation: animeSmoke3 3.2s linear infinite;
}

.smoke-4 {
  animation: animeSmoke4 2.7s linear infinite;
}

.smoke-5 {
  animation: animeSmoke2 3.3s linear infinite;
}
