.smoke1 {
  position: relative;
//   z-index: 999;
  top: -800px;
  left: 150px;
  .out {
    position: relative;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgb(236, 230, 230);
    transform: rotate(-15deg);
    .innerBorder {
      position: relative;
      z-index: 999;
    //   top: -35px;
    //   left: 15px;
      width: 30px;
      height: 35px;
      border: 1px solid rgb(92, 89, 89);
      border-radius: 50%;
      overflow: hidden;
      .inner{
        position: relative;
        z-index: 0;
        width: 30px;
        height: 35px;
        background-color: rgb(92, 89, 89);
      }
    }
  }
}
