.smokeContainer{
  position: relative;
  top: -799px;
  left: 115px;
}

.smoke, .smoke-2, .smoke-3, .smoke-4, .smoke-5 {
  position: relative;
  width: 5px;
  height: 6px;
  border-radius: 50%;
  background: rgb(211, 210, 210);
  // top: -799px;
  // left: 115px;
  // animation: animeSmoke 2.2s linear infinite;

  animation: animeSmoke 4.2s linear infinite;
  z-index: 999;
}

.smoke-2 {
  // animation: animeSmoke2 2.7s linear 1.5s infinite;
  animation: animeSmoke2 3.7s linear 8s infinite;
}

.smoke-3 {
  animation: animeSmoke3 3.2s linear 8s infinite;
}

.smoke-4 {
  animation: animeSmoke4 2.7s linear 8s infinite;
}

.smoke-5 {
  // animation: animeSmoke2 2.7s linear 2s infinite;
  animation: animeSmoke2 3.3s linear 8s infinite;
}





/* PRUEBA 1


.smokeContainer {
  width: 400px;
  height: 50px;
}
.smoke {
  // position: absolute;
  // top: 46%;
  // left: 64%;
  position: relative;
  top: -590px;
  left: 190px;
  display: flex;
  z-index: 1;
}
.smoke span {
  position: relative;
  // top: -590px;
  // left: 70px;
  display: block;
  margin: 0 2px 50px;
  min-width: 4px;
  height: 80px;
  border-right: 2px solid white;
  border-radius: 50%;

  // animation: smoke 5s linear infinite;
  // filter: blur(5px);
  // animation-delay: calc(var(--i) * 0.4s);

  // &__item1 {
  //   --i:1;
  // }
  // &__item2 {
  //   --i: 3;
  // }
  // &__item3 {
  //   --i: 2;
  // }
  // &__item4 {
  //   --i: 6;
  // }
  // &__item5 {
  //   --i: 5;
  // }
  // &__item6 {
  //   --i: 4;
  // }
  // &__item7 {
  //   --i: 7;
  // }
}

*/