@import 'core/variables';
@import 'core/reset';
@import 'core/animations';
@import 'layout/benderBody';
@import 'layout/benderHead';

.background{
    background-color: $bkColor;
    height: 100%;
    display: grid;
    place-items: center;
}