@import "core/variables";
@import "core/reset";
@import "core/animations";
@import "layout/benderBody";
@import "layout/benderHead";
@import "layout/smoke";

.background {
  background-color: $bkColor;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.title {
  margin-top: 100px;
  font-size: 40px;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: rgb(233, 200, 111);
  
  @media (min-width: 768px) {
    margin-top: 130px;
    transform: scale(1.5, 1.5);
  }
  @media (min-width: 1024px) {
    margin-top: 180px;
    transform: scale(1.75, 1.75);
  }
  @media (min-width: 1200px) {
    margin-top: 140px;
    transform: scale(2, 2);
  }
}
